---
import '../styles/index.scss';
import Layout from '../layouts/Layout.astro';
import ProductCard from '../components/ProductCard.astro';

export interface Product {
	id: number;
	name: string;
	priceCents: number;
}

export interface Props {
	title: string;
}

const { title } = Astro.props
const products: Product[] = await fetch('http://localhost:3004/products').then(res => res.json())
---

<Layout title={title}>
	<main>
		<h1>Welcome to <span class="text-gradient">Astro</span></h1>
		<ul role="list" class="card-grid">
			{products.map(({ id, name, priceCents }) => (
				<ProductCard
					href={`http://localhost:3000/reviews/${id}`}
					name={name}
					price={priceCents}
				/>
			))}
		</ul>
	</main>
</Layout>

<style lang="scss">
.card-grid {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	gap: 4.8rem 1.6rem;
}
</style>
